
<%= simple_form_for @travel, :class => "form-inline" do |f| %>

  <%= f.error_notification %>

  <div class='row'>
    <div class='span2'>
      <%= f.association :from_country, :label => 'From',
                                       :label_method => :name,
                                       :value_method => :id,
                                       :include_blank => false  %>
    </div>
    <div class='span2'>
      <%= f.association :to_country, :label => 'To',
                                     :label_method => :name,
                                     :value_method => :id,
                                     :include_blank => false  %>
    </div>
    <div class='span4'>
      <%= f.input :date %>
    </div>
    <div class='span2'>
      <% if @travel.id %>
        <%= f.submit "Update Trip", :class => 'btn inline-form-btn' %>
      <% else %>
        <%= f.submit "Add Trip", :class => 'btn inline-form-btn' %>
      <% end %>
    </div>
  </div>

<% end %>
