<!-- <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Date</th>
      <% unless @single_user_travels %>
        <th>Mule</th>
      <% end %>
    </tr>
  </thead>

  <div class="ticker">
    <tbody class="travel-items">

      <% friend_travels.each do |travel| %>
        <tr class="travel-id[<%= travel.id %>]">
          <td><%= travel.from_country.name %></td>
          <td><%= travel.to_country.name %></td>
          <td><%= travel.date %></td>
          <td><%= link_to travel.traveler.name,
                          user_path(travel.traveler) %></td>
        </tr>
      <% end %>
    </tbody>
  </div>
</table> -->

<% friend_travels.each do |travel| %>
  <div class="travel-id[<%= travel.id %>] friend-travel well">

      <strong><%= travel.traveler.name %></strong>
      <% if travel.date >= Date.today %>is going <% else %>went <% end %>from
      <strong><%= travel.from_country.name %></strong> to
      <strong><%= travel.to_country.name %></strong> on
      <strong><%= travel.date.strftime('%a %d %b %Y') %></strong>

  </div>
<% end %>


<script type="text/javascript">
  $(function () {
    $('.friend-travel').click(function (event) {
      var travelID = $(this).attr('class').match(/\d+/)[0];
      window.location.href = '/travels/' + travelID + '?source=home';
    })
  })
</script>