<thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Date</th>
      <% unless @single_user_travels %>
        <th>Mule</th>
      <% end %>
    </tr>
  </thead>

  <div class="ticket">
    <tbody class="travel-items">

      <% friend_travels.each do |travel| %>
        <tr class="travel-id[<%= travel.id %>]">
          <td><%= travel.from_country.name %></td>
          <td><%= travel.to_country.name %></td>
          <td><%= travel.date %></td>
          <td><%= link_to travel.traveler.name,
                          user_path(travel.traveler) %></td>
        </tr>
      <% end %>
    </tbody>
  </div>
</table>

<script type="text/javascript">
  $(function () {
    $('.travel-items').click(function (event) {
      var travelElement = $(event.target).parent()[0];
      var travelID = $(travelElement).attr('class').match(/\d+/)[0];
      window.location.href = 'travels/' + travelID;
    })

  })


</script>