
<% if @current_user.nil? %>

  <div id="home-page-pic">
  	<%= image_tag('home_page_pic.png') %>
  </div>

  <div id="home-page-text">
    <a href="#signupModal" role ="button" data-toggle="modal" data-target="#signupModal">
      <div class="span1 well sign-up-well">
        <strong>Sign up!</strong>
      </div>
    </a>

    <div id="signupModal" class="modal hide fade" tabindex="-1" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="signupModalLabel">Create an Account</h3>
        </div>

        <div class="modal-body">
          <%= render 'users/form' %>
        </div>

        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>

    </div>

    <div class="span6 well greeting-well">
      <strong>Nomadics:</strong> The worlds best international shipping service!
    </div>

  </div>


	<%= button_to "Sign up!", new_user_path, :method => :get %>

<% else %>
<div class="row">
  <h3 class="scroller-header">Friend's Travels</h3>
  <div class="pre-scrollable travels-ticker">
    <%= render 'travels/ticker' %>
  </div>
</div>

<div class="row">
  <h3 class="scroller-header">Friend's Requests</h3>

  <div class="pre-scrollable requests-ticker">
    <%= render 'requests/ticker' %>
  </div>
</div>
<% end %>