<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span4">

    <% if @user.photo_blob %>
      <%= image_tag photo_user_url(@user) %>
    <% else %>
      <%= image_tag('default_profile_pic.jpg') %>
    <% end %>
  </div>

  <div class="span4">
    <h3><%= @user.name %></h3>
  </div>
</div>
<br>



<% if @access || @friend %>

  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>
  <p>
    <canvas id="travel-map" width="800" height="400"></canvas>
  </p>
  <%= link_to 'Travels', travels_path(user_id: @user.id) %>
  <%= link_to 'Requests', requests_path(user_id: @user.id) %>
<% end %>


<% if @access %>

  <%= link_to 'Add a trip', travels_path(user_id: @user.id) %>

  <%= link_to 'Find a mule', search_travels_path %>

  <%= link_to 'Add a request', requests_path(user_id: @user.id) %>

  <%= link_to 'Edit Profile', edit_user_path(@current_user) %>

<% elsif !@friend %>

  <%= button_to "Add Friend", relationships_path(friend_id: @user.id), method: :post %>

<% end %>

<script type="text/javascript">
  var travelData = <%= @travels.to_json(:include =>
                                       [:from_country, :to_country])
                                       .html_safe %>;

  $(function () {
    var canvas = document.getElementById('travel-map');
    var ctx = canvas.getContext('2d');
    // ctx.canvas.width  = window.innerWidth;
    // ctx.canvas.height = window.innerHeight;

    new DrawMaps.Map(ctx).drawNewMap(travelData);

  });

</script>


