<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span4">

    <% if @user.photo_blob %>
      <%= image_tag photo_user_url(@user) %>
    <% else %>
      <%= image_tag('default_profile_pic.jpg') %>
    <% end %>
  </div>

  <div class="span4">
    <h3><%= @user.name %></h3>
  </div>
</div>
<br>



<% if @access %>


  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>

  <%= link_to 'My travels', travels_path(user_id: @user.id) %>

  <%= link_to 'Add a trip', new_travel_path %>

  <%= link_to 'Find a mule', search_travels_path %>

  <% elsif @friend %>

  <%= link_to 'Travels', travel_path(user_id: @user.id) %>

  <% else %>

  <%= button_to "Add Friend", relationships_path(friend_id: @user.id), method: :post %>

  <% end %>


