<p id="notice"><%= notice %></p>

<p>
  <%= @user.name %>
</p>

<p>
  <%= @user.photo_blob %>
</p>


<% if @access %>


  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>

  <%= link_to 'My travels', travels_path(user_id: @user.id) %>

  <%= link_to 'Add a trip', new_travel_path %>

  <%= link_to 'Find a mule', search_travels_path %>

  <% elsif @friend %>

  <%= link_to 'Travels', travel_path(user_id: @user.id) %>

  <% else %>

  <%= button_to "Add Friend", relationships_path(friend_id: @user.id), method: :post %>

  <% end %>


