
<% if @current_user.nil? %>

	<li>
	<%= render 'sessions/new' %>
	</li>

<% else %>

	<li>
		<%= render 'shared/user_search' %>
	</li>

	<li>
		<%= link_to "friends(mules)", friends_user_path(@current_user) %>
	</li>

	<li>
		<%= link_to "#{@current_user.name}", user_path(@current_user) %>
	</li>

	<li class="pull-right">
		<%= link_to "logout", sessions_path, :method => :delete %>
	</li>


<% end %>


<script>



</script>