<% friend_mule_requests.each do |request| %>

  <div class="request-id[<%= request.id %>] friend-mule-request well">
    <strong><%= request.requester.name %></strong>
    needs a <%= request.item_size %> sized
    <strong><%= request.item_description %></strong>
    to be taken from
    <strong><%= request.from_country.name %></strong> to
    <strong><%= request.to_country.name %></strong> on
    <strong><%= request.date.strftime('%a %d %b %Y') %></strong>
  </div>
<% end %>

<script type="text/javascript">
  $(function () {
    $('.friend-mule-request').click(function (event) {
      var requestID = $(this).attr('class').match(/\d+/)[0];
      window.location.href = '/requests/' + requestID + '?source=home';
    })
  })
</script>