<% if @user.id == @current_user.id %>

	<h2>My Requests</h2>
	<%= render 'new' %>
	<br>
	<%= link_to 'Back to my page', user_path(@current_user) %>

<% else %>

	<h2><%= @user.first_name %>'s Requests</h2>
	<%= link_to "Back to #{@user.first_name}'s page", user_path(@user) %>

<% end %>

<br><br>

<%= render 'request_table' %>

